.topheader {
  position: fixed;
  background-color: rgb(255, 152, 49);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  list-style: none;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: block;
  padding: 15px 20px;
  color: rgb(246, 246, 104);
  text-decoration: none;
}
.Menu-Vertical {
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  width: 150px;
  background-color: rgb(255, 152, 49);
  border: none;
  border-radius: 5px;
}
.Menu-Horizontal li a:hover {
  color: lightgreen;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.seccion-productos {
  padding: 60px 20px;
  background-color: rgb(246, 246, 104);
}
.div-gral-productos {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}
.div-prod-texto {
  flex: 1;
}
.div-prod-texto h2 {
  color: rgb(95, 204, 0);
}
.div-prod-texto p {
  color: black;
  line-height: 1.6;
  font-size: 16px;
  text-align: justify;
}
.div-prod-texto button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(236, 101, 5, 0.9);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.div-prod-img {
  flex: 1;
  margin: 5rem 0rem 0rem 0rem;
}
.div-prod-img img {
  width: 100%;
  max-width: 500px;
}
.seccion-zondig {
  padding: 60px 20px;
  background-color: rgb(246, 246, 104);
}
.div-gral-zondig {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}
.div-zondig-texto {
  flex: 1;
}
.div-zondig-texto h2 {
  color: rgb(95, 204, 0);
}
.div-zondig-texto p {
  color: black;
  line-height: 1.6;
  font-size: 16px;
  text-align: justify;
}
.div-zondig-video {
  flex: 1;
}
.div-zondig-video iframe {
  width: 100%;
  max-width: 500px;
}
/*SECCION FORMULARIO*/
.seccion-formulario {
  background-color: #8deeee;
  padding: 40px;
  border: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.div-cont-formulario {
  background-color: #d0e62e;
  padding: 30px;
  border: 2px solid #7c09e8;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}
.campo {
  background-color: hwb(182 48% 13%);
  padding: 15px;
  border: 1px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #2b0153;
}
.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  box-sizing: border-box;
}
.lista-checkbox,
.lista-radio {
  background-color: #ea1cbd;
  list-style: none;
  padding: 10px;
  margin: 0;
  border: 1px solid #0404d6;
  border-radius: 8px;
}
.formulario button {
  background-color: #0c597a;
  color: #b6b6fc;
  border: 1.5px solid #16d2ef;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}
